services:
  caddy:
    image: caddy:2.10-alpine
    container_name: caddy
    restart: unless-stopped
    networks:
      - safenet
    volumes:
      - ./assets:/usr/share/caddy

  varnish:
    image: varnish:8.0.0
    container_name: varnish-accelerator
    ports:
      - "80:80"
    networks:
      - safenet
    volumes:
      - ./varnish/default.vcl:/etc/varnish/default.vcl:ro
    depends_on:
      - caddy
    environment:
      - VARNISH_SIZE=256M

networks:
  safenet:
    name: safenet
